<html>
	<style>	
		
		@media print{
			html, body {
				margin:0;
				padding:0;
				width: 21.5cm;
				overflow-x: visible;
			}

			@page{
	    		margin: 0;
	    		margin-left: 0cm;
			}

			.card {
		        margin-left: 1cm;
		        margin-top: 2cm;
		        margin-bottom: 1cm;
				width: 9.5cm;
				display: inline-block;
			}

			p {
				margin: 0;
			}
		}
		
	</style>
</html>
<body>
	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>
	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA.</p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>

	<div class="card">
		<div>
			<p>À</p>
			<p>AGRI-PEÇAS MATÃO SANTO EXPEDITO LTDA. </p>
			<p>RUA LUIZ FAGGIONI, 668</p>
			<p>RESIDENCIAL OLÍVIO BENASSI</p>
			<p>MATÃO/SP</p>
			<p>CEP: 15.993-026</p>
		</div>
	</div>
</body>